<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="true">
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder默认配置为PartternLayoutEncoder -->
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<charset>UTF-8</charset>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} -
				%msg%n</pattern>
		</encoder>
	</appender>
	<appender name="logfile"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/server.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/server_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} 
				- %msg%n</pattern> -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n</pattern>
		</encoder>
	</appender>
	
	<appender name="transaction_file"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/transaction.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>log/transaction_%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>10</maxHistory>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} 
				- %msg%n</pattern> -->
			<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level - %msg%n</pattern>
		</encoder>
	</appender>

    <logger name="transaction" level="INFO" additivity="false">
		<appender-ref ref="transaction_file" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="ewhine" level="DEBUG" additivity="false">
		<appender-ref ref="logfile" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.dehuinet" level="DEBUG" additivity="false">
		<appender-ref ref="logfile" />
		<appender-ref ref="STDOUT" />
	</logger>
	<root level="ERROR">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="logfile" />
	</root>
</configuration>
